.footerAddUser {
  justify-content: center;
}

.btnSubmitUser {
  margin: 1rem;
}

.UserErrorMessage {
  align-items: center;
  justify-content: center;
  color: red;
}

.UserSuccessMessage {
  align-items: center;
  justify-content: center;
}
.ant-message-error svg {
  margin-bottom: 0.4rem;
}
.ant-message-success svg {
  margin-bottom: 0.4rem;
}

.ant-form-item-explain-error div {
  text-align: left;
}
