.ContentList {
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
  margin-right: 2rem;
}

.list {
  margin-top: 2rem;
  width: 40%;
  height: 90vh;
  border-radius: 10px;

  /* background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); */
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.list h4 {
  /* padding: 1rem; */
  padding-top: 1rem;
  margin-left: 1.8rem;
  font-weight: bold;
  font-size: 1.5;
  border-bottom: 2.2px solid rgb(139, 137, 137);
  width: 12%;
  /* padding: 1rem;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
  margin-left: 0.5rem;
  color: black;
  font-weight: 600;
  width: 20%;
  display: inline-block;
  border-bottom: 2px solid rgb(139, 137, 137); */
}
.listTable {
  width: 90%;
  margin: 0 auto;
  margin-top: 1rem;
}

.PDF-table-list {
  border: 1px solid black;
}

.center-pdf {
  width: 90%;
  margin: 0 auto;
  display:none;
}

.pdf-list-header {
  margin: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pdf-list-header img {
  width: 100px;
  height: auto;
}
.pdf-list-header h1 {
  /* float: right; */
  font-weight: bold;
}

.pdf-list-header p {
  margin: 1rem 0;
  font-size: 1.5rem;
  /* font-weight: bold; */
}

/* .text-align .listDate {
  /* /* float: right; */
/* text-align: right;
  font-weight: 200;
  font-size: 12px;
  margin-top: 2rem;
} */
.text-align .listPhone {
  font-weight: 200;
  font-size: 12px;
  margin-top: 1rem;
}

.PDFLIST {
  display: none;
  visibility: hidden;
}

/* Shop */

.shop {
  margin-top: 2rem;
  width: 56%;
  height: 80vh;
  border-radius: 10px;
  /* border: 2px solid black; */
  /* background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
  background-image: linear-gradient(to top, #e5e9ee 0%, #dfe2e6 100%);
  /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */
}
.flex-shop h4 {
  padding-top: 1rem;
  margin-left: 1.8rem;
  font-weight: bold;
  font-size: 1.5;
  border-bottom: 2.2px solid rgb(139, 137, 137);
  width: 14%;
}

.flex-shop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listShop {
  width: 90%;
  margin: 0 auto;
  /* margin-top: 1rem; */
}
/* body > .center-pdf
{
  display:block;
} */

@media print {
  .center-pdf {
    display: block;
    
  }
}

/* PDFSHOp */

.invoice {
  /* background: linear-gradient(rgb(255 30 30 / 83%), rgb(228 217 217 / 14%)); */
  color: #F05454;
}

.status-column {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0.5rem;
  height: 92px;
}

.status-box1 {
  background: linear-gradient(180deg, #a1c4fd 0%, #c2e9fb 100%);
  border-radius: 10px;
  width: 30%;
  height: auto;
  padding: 1rem;
}

.status-box2 {
  background: linear-gradient(180deg, #84fab0 0%, #8fd3f4 100%);
  border-radius: 10px;
  width: 30%;
  height: auto;
  padding: 1rem;
}

.status-box4 {
  background: linear-gradient(180deg, #feada6 0%, #f5efef 100%);
  border-radius: 10px;
  width: 30%;
  height: auto;
  padding: 1rem;
}
