.logo {
  text-align: center;
  border: 1px solid #e5e5e5;
  border-right: 0;
  width: 100%;
  margin-top: 0;
  margin-bottom: 3rem;
  height: 72px;
}
.logo img {
  max-width: 22%;
  margin-top: 0.5rem;
  min-width: 60px;
  /* max-width: 100px; */
  height: auto;
}
.menu {
  text-align: center;
  width: 100%;
}
.icon {
  list-style-type: none;
  display: flex;
  align-items: center;
}

/* ul 
{
    border: 1px solid green;
    width: 80%;
    margin: 0 auto;
   
}

.nav-bar ul li {
    list-style: none;
    padding: 1rem;
}
.nav-bar img {
  
    width: 121px;
    height: 117px;
}



.nav-bar ul li 
{
    color: #30475E;
} 
 */
