.pdf-logo {
  width: 67px;
  height: 67px;
  margin-bottom: 1rem;
}

.pdf-container {
  width: 90%;
  margin: 0 auto;
}

.pdf-header {
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: space-between;
}

.pdf-header p {
  font-size: 1.3rem;
}

.pdf-information {
  padding: 1rem;
  width: 100%;
  /* height: 150px; */
  /* border: 1px solid rgb(199, 197, 197); */
  border: 2px solid black;
}
.pdf-date {
  font-weight: bold;
  font-size: 1.4rem;
}

.pdf-sender,
.pdf-receiver {
  display: flex;
  font-size: 1.4rem;
}

.pdf-receiver {
  margin-top: 0.5rem;
}
.pdf-sender img {
  width: 26px;
  height: 26px;
  margin-right: 0.5rem;
}

.pdf-receiver img {
  width: 26px;
  height: 26px;
  margin-right: 0.5rem;
}

.pdf-receiver span {
  margin-left: 1rem;
}

.pdf-sender span {
  margin-left: 2rem;
}

.pdf-price {
  height: 215px;
  display: flex;
  align-items: center;
  font-size: 100%;
  /* border: 2px solid black; */
}

.pdf-priceTag {
  width: 54%;
  border: 1px solid rgb(199, 197, 197);
  text-align: center;
  border: 2px solid black;
}
.pdf-priceTag p {
  margin-top: 0.5rem;
  font-size: 1.3rem;
  font-family: "Khmer", cursive;
}

figure {
  text-align: center;
  margin-left: 2.5rem;
  margin-top: 2.5rem;
}
figcaption {
  margin-top: 0.2rem;
  font-weight: lighter;
}

.price {
  font-size: 46px;
  margin-left: 2rem;
  font-weight: bold;
}

.pdf-cod {
  /* border: 1px solid rgb(196, 196, 196); */
  border: 2px solid black;

  height: 56%;
  width: 128px;
  text-align: center;
  font-weight: regular;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product_payment {
  /* margin-top: 1rem; */
  margin-bottom: 0;
  font-size: xx-large;
  font-weight: bold;
}

.product_price {
  font-size: 1.3rem;
  font-weight: bold;
}

.product_paid_by {
  font-size: 1.3rem;
  font-weight: bold;
}

.pdf-website {
  text-align: center;
  margin: 1rem;
  font-weight: lighter;
  font-size: 1.2rem;
  font-weight: bold;
}

.btnPdf {
  justify-content: center;
  text-align: center;
  text-align: center;
}

.pdf-date {
  text-align: left;
}
.pdfBtnContainer {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.btnPdf-container {
  width: 90%;
  margin: 5rem auto;
  margin-bottom: 0;
  text-align: center;

  font-weight: bolder;
}
.pdf-cod-title {
  font-size: 1.2rem;
  margin-bottom: 0;
  margin-top: 1.2rem;
}

.scan {
  font-size: 1.3rem;
}

@media print {
  /* .pdf-container {
    width: 100% !important;
    height: 100px !important;
    font-size: large;
  }

  .pdf-header p span {
    color: red !important;
  } */
  /* p {
    color: red !important;
  } */
}

@page {
  size: 5.5in 8.5in;
}

/* @page {
  /* size: 100% 50mm !important; */
/* background: white;
  width: 21cm;
  height: 29.7cm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5); */

/* 
page[size="46"] {
  background: white;
  width: 21cm;
  height: 29.7cm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
} */
