/* .qr-container {
  background: linear-gradient(180deg, #f5465f 50%, #f5465f 100%);
  border-radius: 10px;
  width: 100%;
  height: 100vh;
}
.qrCode {
  width: 60%;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}
.
.qrCode .qrSubmit {
  text-align: center;
  /* justify-content: center; */
  /* .iconQR{
    position: relative;
    display: inline-block;

  } */
  .khmer-font {
    margin-top: 0.5rem;
    font-family: 'Nokora', serif;
    font-weight: bold;
    }
  .qr-code-logo {
    text-align: center;
    margin: 3rem 0;
    height: 100%;
    position: relative;
  }

  .iconQR {
    position: absolute;
    left: 0%;
    display: inline-block;
    opacity: 50%;
  }

  .icons-list > .anticon {
    margin-right: 6px;
    font-size: 32px;
    opacity: 80%;
    
  }
  .ant-row-rtl .icons-list > .anticon {
    margin-right: 0;
    margin-left: 6px;
    opacity: 80%;
  }

  .backQR {

  }
  /* .iconQR-icon svg {
    /* position: absolute; */
    /* left: 100px; */
    /* width: 1000px;
    /* height: auto; */
  
.disabledByMe {
  pointer-events: none;
  font-weight: bold;
  /* margin-bottom: 0.2rem; */
}
.qr-cover {
  background: #e5e5e5;
  position: relative;
  width: 100%;
  z-index: 1;
  /* min-height: 100vh; */
  background-color: white;
  overflow: hidden;
  min-height: 100vh;
  
}
.qr-code-logo h5 {
  font-weight: bold;
  font-size: 1.8rem;
  color: #310202;
}

.bg {
  position: absolute;
  overflow: hidden;
  opacity: 0.8;
  width: 480px;
  height: auto;
  left: 32px;
  top: 410px;
  z-index: -1;

  /* top: 70%; */
}

.qr-code-logo img {
  width: 144px;
  height: auto;
}

@media only screen and (min-width: 1024px) {
  .bg {
    position: absolute;
    opacity: 0.8;
    width: 646px;
    height: auto;
    left: 55%;
    top: 50%;
  }
  .qr-code-logo img {
    width: 128px;
    height: auto;
  }
}

@media screen and (max-width: 320px) {
  .bg {
    position: absolute;
    opacity: 0.8;
    width: 284px;
    height: auto;
    left: 84px;
    top: 400px;
  }
  .qr-code-logo img {
    width: 128px;
    height: auto;
  }
  .qr-code-logo h5 {
    font-weight: bold;
    font-size: 1.4rem;
    color: #310202;
  }
  .qr-code-logo {
    text-align: center;
    margin: 2rem 2rem;
  }
}

@media only screen and (orientation: landscape) {
  .bg {
    position: absolute;
    opacity: 0;
    width: 646px;
    height: auto;
    left: 55%;
    top: 50%;
  }
}
