.header-reportShop {
  padding: 1rem;
  /* float: right; */
  display: flex;
  width: 420px;
  float: right;
  justify-content: space-around;
  margin-right: 1.6rem;
}

.ant-btn-icon-only svg {
  justify-content: center;
  align-items: center;
}

.ant-btn-icon-only span svg {
  align-items: center;
  margin-bottom: 0.5rem;
}

.total-container-report p {
  font-weight: bold;
  margin-bottom: 0;
}

.total-container-report {
  float: left;
  display: flex;
  padding: 0.5rem 0.7rem;
  align-items: center;
  margin-left: 2.3rem;
  margin-top: 0.5rem;
  background: linear-gradient(180deg, #a1c4fd 0%, #c2e9fb 100%);
  border-radius: 10px;
}

