.userContainer {
  width: 50%;
  margin: 0 auto;
}

.userLogo {
  text-align: center;
}
.userLogo img {
  width: 20%;
  height: auto;
}

.userSubmit {
  text-align: center;
}

.userSubmitButton {
  border-radius: 50px;
  width: 103px;
  height: 41px;
  background-color: #f05454;
  color: white;
  font-weight: 500;
}

.userSubmitButton:focus {
  background-color: #f05454;
  color: white;
  font-weight: 500;
}

.userSubmitButton:hover {
  background-color: #f36b6b;
  color: white;
  font-weight: 500;
}
.userInput {
  border: 1px solid #686f75;
}
