.cover {
  width: 100%;
  min-height: 100vh;
  background-color: white;
  overflow: hidden;
}

.userContainer {
  width: 32%;
  margin: 0 auto;
}

.userLogo {
  text-align: center;
  margin: 3rem 0;
}
.userLogo img {
  width: 144px;
  height: auto;
}

.userSubmit {
  text-align: center;
}

.userSubmitButton {
  border-radius: 50px;
  width: 103px;
  height: 41px;
  background-color: #f05454;
  color: white;
  font-weight: 500;
}

.userSubmitButton:focus {
  background-color: #f05454;
  color: white;
  font-weight: 500;
}

.userSubmitButton:hover {
  background-color: #f36b6b;
  color: white;
  font-weight: 500;
}
.userInput {
  border: 1px solid #686f75;
}

@media only screen and (max-width: 768px) {
  .userContainer {
    width: 80%;
  }
  .userLogo {
    margin-top: 7rem;
    margin-bottom: 2rem;
  }
  .userLogo img {
    width: 128px;
    height: auto;
  }
}
