@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nokora:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif !important;
}
/* 
page[size="A4"] {
  size: 75mm 48mm;
  margin: 0rem;
  padding-top: 1rem;
} */

@media print {
  /* @page { */
  /* size: A4;
    margin: 0rem;
    padding-top: 1rem; */
  /* size: 75mm 48mm;
    margin: 0rem;
    padding-top: 1rem; */
  /* } */
  /* page[size="A4"] {
    size: 75mm 48mm;
    margin: 0rem;
    padding-top: 1rem;
  } */
  @page {
    size: auto;
  }
}

@import "./_NavBar.css";
@import "./_ContentUser.css";
@import "./_UserLogin.css";
@import "./_ContentUserAdd.css";
@import "./_ContentProducts.css";
@import "./_Chart.css";
@import "./_DeliveryDashBoard.css";
@import "./_QrCode.css";
@import "./_PDF.css";
@import "./_HeaderBar.css";
@import "./_ReportShop.css";
@import "./_HomePage.css";
@import "./_ContentList.css";
@import "./_ReportDelivery.css";
@import "./_DailyShop.css";
